/* Main Styling */

:root {
    --yellow: #F7FC19;
    --pink: #EE2DFF;
    --blue: #0B0029;
    --bg: var(--blue);

    --red: #FF0000;
    --purple: #811CB0;
    --teal: #2fa388;
    --blue-purple: #2f4aa3;
    --light-red: #a32f4a;
    --dark-yellow: #a3882f;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #92a5ce;
    --bg-header: rgba(46, 42, 59, .90);
    --nav-hover: var(--teal);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
}

html {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: alaska, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    border: 0;

    overflow-x: hidden;

    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    word-wrap: break-word;

    background-color: var(--bg);
}

header {
    position: fixed;
    top: 0;
    background-color: var(--bg-header);
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}

.nav-links {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.25rem;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    cursor: pointer;
}

.logo {
    grid-column: 1 / 2;
    cursor: initial;
    padding-left: 1em;
}

nav {
    grid-column: 3 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav a {
    margin-left: 3em;
    margin-bottom: 0;
    position: relative;
}

nav a:hover {
    color: var(--nav-hover);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--nav-hover);
    position: absolute;
    top: -1em;
    left: 0;
    right: 0;

    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

nav a:hover::before {
    transform: scale(1, 1);
}

.fade-in {
    opacity: 0;
    transition: 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

h1 {
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
    line-height: 1;
    padding: 2rem;
}

.mint-title {
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
}

h2 {
    font-size: clamp(1rem, 2vw + 1rem, 4rem);
    text-align: center;
    text-transform: uppercase;
    color: var(--pink);
}

h3 {
    font-size: clamp(1rem, 2vw + 1rem, 4rem);
}

h4 {
    font-size: clamp(1rem, 1vw + 1rem, 4rem);
}

section {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    border-bottom: 4px solid var(--pink);
}

section h2 {
    padding-top: 3rem;
}

.flex-container,
.flex-container-faq,
.flex-container-mint,
.flex-container-roadmap,
.flex-container-team {
    padding-bottom: 3rem;
}

.s1 {
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--black);
}

.flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 4em;
}

.flex-container-mint {
    display: flex;
    max-width: 90%;
    margin: 6em auto;
}

.container-mint {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
}

.container-mint h3 {
    color: var(--yellow);
    margin-bottom: 0;
}

.container-mint p {
    margin-top: 0.5em;
}

.container-mint h2 {
    text-align: left;
}

.container-mint-img {
    gap: 1em;
    justify-content: center;
}

.container-mint-img a {
    text-align: center;
}

.container-mint img {
    width: auto;
    height: auto;
    max-width: 50%;
    margin: 0 auto;
}

.flex-container-roadmap {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 3em;
}

.container-r1,
.container-r2 {
    flex-basis: 50%;
}

.container-r1 h3,
.container-r2 h3 {}

.roadmap-title {
    color: var(--pink);
}

ul {
    padding: 0;
}

.container-r1 li,
.container-r2 li {
    list-style-type: none;
}

li h4 {
    text-transform: uppercase;
    color: var(--yellow);
}

.flex-container-team>* {
    flex-basis: 20%;
}

.flex-container-team {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    flex-direction: row;
    /* flex-wrap: nowrap; */
}

.team-column {
    max-width: 20%;
    text-align: center;
}

.team-member-name {
    font-size: clamp(1rem, 1vw + 1rem, 4rem);
    text-transform: uppercase;
    color: var(--yellow);
    margin-bottom: 2%;
}

.team-member-description {
    text-transform: uppercase;
}

.team-member-image {
    max-width: 60%;
    border-radius: 12px;
}

.flex-container-faq {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    gap: 0;
}

.faq-header,
.faq-answer {
    text-align: center;
    margin: 0 auto;
    max-width: 60%;
}

.faq-header {
    text-transform: uppercase;
    color: var(--yellow);
    margin-bottom: 0.25rem;
    font-size: clamp(1rem, 1vw + 1rem, 4rem);
}

.faq-answer {
    margin-bottom: 1em;
}

@media all and (max-width : 60em) {
    header {
        display: block;
        text-align: center;
        z-index: 999;
        min-width: 10vh;
    }

    .logo {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: 2rem;
    }

    /* Look for any nav as a preceding sibling */
    .nav-toggle:checked~nav {
        transform: scale(1, 1);
    }

    .nav-toggle:checked~nav .nav-links li a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 350ms;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 1em;
    }

    /* Create hamburger */
    .nav-toggle-label>span,
    .nav-toggle-label>span::before,
    .nav-toggle-label>span::after {
        display: block;
        background: var(--white);
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    /* Make sure the pseudo-elements have content so they display */
    .nav-toggle-label>span::before,
    .nav-toggle-label>span::after {
        content: '';
        position: absolute;
    }

    /* Move the before pseudo-element down */
    .nav-toggle-label>span::before {
        bottom: 7px;
    }

    /* Move the after pseudo-element up */
    .nav-toggle-label>span::after {
        top: 7px;
    }

    nav {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: var(--bg-header);

        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }

    nav ul {
        display: block;
    }

    nav a {
        margin-left: 0;
    }

    nav a::before {
        display: none;
    }

    .nav-links {
        padding-top: 1em;
        width: 100vw;
        border-bottom: 2px solid var(--grey);
    }

    .nav-links>li {
        margin-bottom: 1em;
        margin-left: 1em;
    }

    .nav-links>li>a {
        opacity: 0;
        transition: opacity 100ms ease-in-out;
    }

    .nav-links>li>a:hover {
        color: var(--nav-hover);
    }

    .container-mint img {
        width: auto;
        height: auto;
        max-width: 80%;
        margin: 0 auto;
    }

    .faq-header,
    .faq-answer {
        text-align: center;
        margin: 1em auto;
        max-width: 90%;
    }
}

@media all and (max-width : 40em) {
    .nav-links {
        font-size: 1rem;
    }

    .flex-container,
    .flex-container-faq,
    .flex-container-mint,
    .flex-container-roadmap,
    .flex-container-team {
        flex-direction: column;
    }

    .flex-container-mint>* {
        margin: 0 auto;
        min-width: 90%;
    }

    .container-mint h2 {
        text-align: center;
    }

    .flex-container-mint {
        margin: 3rem 0;
        padding: 0;
        width: 90%;
    }

    .flex-container-mint h2 {
        min-width: 90%;
    }

    .container-mint img {
        max-width: 75%;
    }

    .flex-container-team>* {
        flex-basis: 100%;
    }

    .flex-container-team {
        justify-content: center;
        align-items: center;
    }

    .team-member-image {
        margin-top: 3rem;
        max-width: 60%;
    }

    .team-column {
        min-width: 90%;
    }

}