body {
  text-align: center;
  margin: 0 auto;
  
}
section#mint {
  background:transparent;
}
section#welcome {
  padding-top: 5%;
  display: block;

}
div.flex-container-mint {
  width: auto;

}
a#estatemint {
  margin-right: 1%;
}
div.background-image-cyberia {
  background-image:url("../assets/newMap.png");
  background-position: top;
  background-size:cover;
  background-repeat: no-repeat;




  

}
section#info {
  background:none;
}
div.flex-container-estates {
  width: 40%;
  display: inline-block;
  padding-left: 25%;
  padding-bottom: 10%;
}
div.flex-container-pictures {
  display: inline-block;
  background-image:none;
  background:transparent;
}
p#apt-description {
  margin: -10%;
}
h2.address-title {
  text-align:center;
  font-size:200%;
}
li {
  list-style-type: none;
}
/*slide show*/
.cyberia-content {
  border: 3px solid blue;
  width: 625px;
  height: 475px;
  margin: 0 auto;
  display: block;
}
section.divider {
  min-height:10px;

  border:5px solid var(--pink);
 
}

div#apartment-description {
  display: block;
}

div#benefits-container {
  display: block;


 
  
 
}

/* benefits area styling*/

img#benefits-imgs-additional,
img#benefits-imgs-ownership,
img#benefits-imgs-customization,
img#benefits-imgs-utility {
  display: inline;
  margin:5%;
  padding:1%;
  border: 1px solid blue;
}
h4#benefits-descriptions {
  color: var(--yellow);
  display:inline;;
}
img#benefits-imgs-additional:hover,
img#benefits-imgs-ownership:hover,
img#benefits-imgs-customization:hover,
img#benefits-imgs-utility:hover {
  border: 1px solid yellow;
  zoom: 200%;
}



img#estate-imgs {
  display: inline-block;
  width: 575px;
  height: 425px;
  padding-bottom: 12%;
}

#second,
#third,
#fourth {
  display: none;
}


section#benefits {
  display: block;
  width: 100%;
  background:none;
}


div.container-estate-btns {
  width: 50%;
  display: inline-block;
  margin: 0;
  padding: 1%;
}
.estate-size {
  background-color: transparent;
  color: var(--pink);
  border: 1px solid var(--pink);
  display: inline-block;
  width: 50%;
  padding: 3%;
}
.estate-size:hover {
  border: 1px solid yellow;
  color: var(--yellow);
}
