
body {
  text-align: center;
  margin: 0 auto;
}

/* sections */
section#mint {
background:transparent !important ;
background-color:transparent;
}
section#info{
  display:block;
width:100%;
height:25vh;
background:transparent;
padding-top:15px;;
}
section#benefits {
  display: block;
  width: 100%;
  min-height:15vh !important;
background:rgba(17, 17, 39, 0.3) !important
}
section#roadmap {
  display:block;
 padding-bottom:3%;
 background:rgba(31, 1, 1, 0.79) !important;
 background-color:rgba(15, 2, 2, 0.79) !important

}
/* neon area divider for non fade in section */
section.divider {
  background: hsla(295, 100%, 59%, 1);
border:1px solid var(--pink);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#EE2DFF", endColorstr="#0B0029", GradientType=1);
  min-height: 0.05vh;
  display: flex;
  flex-direction: column;
width:100%;
  align-items: center;

}

/* IMAGES */
/* this one is for the apt sizes */
img#estate-imgs{
 
 
  display: inline-block;
  width: 50%;
  height: fit-content;
 
}
/* this one is for the mint img will be replaced with trailer */
img#estate-img{
  border:1px solid var(--yellow);
 border-radius:20%;
 display:block;
 margin-top:50%;
}
/* benefits area styling*/
img#benefits-imgs-additional,
img#benefits-imgs-ownership,
img#benefits-imgs-customization,
img#benefits-imgs-utility {
  display: inline;
  margin:5%;
  padding:1%;
height:225px;
}
img#estatebtn{
  width:225px;
  height:65px;
  display:inline;
}
img#roadmapimage{
  max-width: 75%;
  max-height:75%;
 }
 img#mint-estate-png {
  width:225px;
  height:225px;
}
img#qrcode {
  border:1px solid var(--pink);

}
img#qrcode:hover {
  zoom:200%;
  }



/* div stylings */
/* bg image */
div.background-image-cyberia {
  background-image:url("../assets/newMapblur.png");
animation-name:bgimage;
animation-duration:15s;
animation-fill-mode:forwards;
background-size:120%;
  height:max-content;
background-position:top;
  background-repeat: no-repeat;

}
div.trailer-area {
  border:1px double  yellow;
border-radius:20%;
  width:750px;
  height:750px;

}
div.flex-container-aptinfo {
  position:relative;
  display:inline;

}
div.benefits-desc {
  display:inline-block;
  margin-bottom:5%;
  color:var(--yellow);
  margin-right:5%;

}
div.flex-container-estates {
  width: 40%;
  display: inline-block;
padding:25%;
}
/* this one is the images beside the buttons for apt sizes */
div.cyberia-content {
margin:10%;
display:inline;
}
div.flex-container-roadmap {
  display:flex;
  overflow-x:hidden;
  width:100%
}
div.roadmap-item-frame {
  display:inline-flex;;
  border: 3px solid var(--purple);
width: 500px;
height:500px;
}
div.flex-container-pictures {
  display: inline-block;
  background-image:none;
  background:transparent;
}
div.flex-container {
  display: inline-block;
  width:55%;
background:initial;


}
div.flex-container-estate {
  display: inline-block;
  width:55%;
  background:rgba(4, 4, 8, 0.55) ;
  border:1px solid rgb(21, 21, 158)


}
/* layer of color over benefits section to make it match bg */
div.opacity-layer {
  background:rgba(4, 4, 8, 0.3) !important;
  height:7in
}
div#estate-main {
  background:transparent;
}
div.questionmark{
  background-image:url("../assets/cyberia/Icons/benefiticon.png");
  background-repeat:no-repeat;
  background-size:100%;
  padding-bottom:25%;
  display:block;
  }
/* for hiding apt sizes until buttons are clicked */
div#second,
div#third,
div#fourth {
  display: none;
}
div.container-estate-btns {
  float:left;
  margin-left:15%;
  width:min-content;
  height:fit-content;
  width:15%;
  }
  div#spacer {
    padding-top:10%;
  }
  div.container-mint-desc{
    width:45%;
    display:inline;
    position:relative;
   
  }
  div.container-mint {
    display:inline;
    position:relative;
   
  
  }
  div.stage-outline {
    display:block;
    width:100%;
    margin-bottom:5%;
    }
  /* The Modal (background) */
div.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow:scroll; /* Enable scroll if needed */
  background-color: rgba(0, 0, 2, 0.94) /* Black w/ opacity */
}
/* Modal Content/Box */
div.modal-content {

  margin: 7.5% auto; /* from the top and centered */
  background-color: rgba(31, 35, 53, 0.894);/* Black w/ opacity */
  padding: 20px;
  border: 1px solid var(--pink);
  width: 30%; 
  height:fit-content;
}


/* other styling */
  /* p, h3, h2, a */
p#apt-description {
  margin-bottom:2%;
}
p#copy {
  font-family:pixelFont;
}
h2.address-title {
  text-align:center;
  font-size:200%;
}
h2#price {
  text-align:center;
}
h3#waittime
{ color:red;}
h3#stagetitle {
  color:var(--yellow);
}
h3#modaltitle {
  font-size:150%;
  color:var(--pink)
}
h4#send {
  color:white;
}

a#mint-estate {
  display:inline-block;
  margin-top:5%;
  margin-left:5%;
  }
  /* li, ul */
li {
  font-family:pixelFont;
}
li#list {
  list-style-position:inside;
  list-style-type:none;
  padding-top:2%;
  padding-bottom:2%;
  color:rgba(211, 210, 214, 0.976)
}
li#resizer {
  list-style-type:none;
}
ul#modal-content-estate {
  color:black;
text-align:center;
}

/* buttons */
button.estate-size {
  background-color:transparent;
  border:none;
width:15%;
height:65px;
width:225px;
margin-bottom:10%;
display:inline

}
button#copy-address {

  border:1px solid var(--pink);
  background-color:transparent;
  display:inline;
  border-radius:20%;
  color:yellow;
  font-family:pixelFont;
}
/* The Close Button for modal */
button.close {
  color: var(--pink);
  float: left;
  font-size: 28px;
  font-weight: bold;
}

button.close:hover,
button.close:focus {
  color: var(--purple);
  text-decoration: none;
  cursor: pointer;
}

button#copy-address:hover {
  color:var(--pink)
}

button.estate-size:hover {
  color: var(--pink);
  zoom:115%;
  opacity:1;
}
 /* area where address to send funds to */
input#mint-address {
  font-size:150%;
text-align:center;
width:95%;

}


/* animations for background image */
@keyframes bgimage {
  0% { background-size:120%; }
  25% {background-size:130%;}
  50% {background-size:140%;}
  100% { background-size:145%; background-position:top;;;}

}












/* mobile styling */ 
@media all and (max-width : 40em) {
 div#apartment-description {
   margin-inline:auto;
    display:block;
width:50%;
}
  section#info {
    display:block;
    margin-inline:auto;
  }
section#roadmap {
display:block;
width:100%;
margin-inline:auto;
background:transparent;
padding-top:90%;
}
p#apt-description {
  margin-inline:auto;
  display:block;

}
img#estate-imgs {
  display:block;
margin-inline:auto;
height:100%;
width:100%

}
div.flex-container-estate {
  display:inline-block;
}
div.background-image-cyberia {
 background:var(--bg);
 animation:none;
}
.modal {
  width:100%;
  display:block;
  margin-inline:auto;
  padding-top:50px;
}
.modal-content {
  width:fit-content;
}
}
