.s1-newccpage {
    


display:block;
    background-image: url("../assets/new-cc-page/header-pic-final.png");
padding-bottom:5rem;
    background-size:contain;
    width:100%;
    height:fit-content;
    background-repeat: no-repeat;
    padding-top:7.5%;

    
}

div.logo-cc {
display:flex;
}
a.newccpage{
    border:none !important;
    list-style-type:none;
}

p.newccmaintext {
   
    font-size:200%;
    color:yellow;
}


div.mainarea {
    display:inline-block;
margin-top:6rem;
}
.s2-newccpage {    
display:block;
   

    background-image: url("../assets/new-cc-page/fullbar.png");
    background-position: center;
    background-size:100%;
    width:auto;
    height:fit-content;
    background-repeat: no-repeat;
    padding-bottom:63rem;
    
}
.s4-newccpage {    
    display:block;
       
    
        background-image: url("../assets/new-cc-page/bar-left.png");
        background-position: center;
        background-size:cover;
    width:auto;
        background-repeat: no-repeat;
        height:90vh;
        
    }

img#logo-big {
    max-width:100% !important;
}
image.buttons-newccpage {
    display:block;
    size-adjust:150%;

}
.s5-newccpage {
  display:block;
   

  background-image: url("../assets/new-cc-page/bar-right.png");
  background-position: center;
  background-size:cover;
  width:auto;
  min-height:90vh;;
  background-repeat: no-repeat;

  
}
.s6-newccpage {
  display:block;
   

  background-image: url("../assets/new-cc-page/speaker-brick.png");
  background-position: center;
  background-size:cover;
  width:auto;
  min-height:90vh;;
  background-repeat: no-repeat;

  
}
img#s5-speakers {
  min-width:75vh;
  margin-top:15vh;
  min-height:65vh;
}
.s3-newccpage {
  display:block;
   

  background-image: url("../assets/new-cc-page/searcharea.png");
  background-position:center;
  background-size:cover;
  width:auto;
  height:80vh;
  background-repeat: no-repeat;

  


}
img#faq-title {
  position:absolute;
}
h4#faqtitle {
  font-size:125%;
  margin-top:12vh;
}
div#headercont, h4#faqtitle{
position:relative;
padding-top:1.8rem;
padding-left:22.5rem;

}
div.namecont {
  position:relative;

  
}
p.character-name {
  position:relative;
  padding-left:8vh;
  color:red
}
img#faq-title{
    min-width:80vh;
    min-height:15vh;

margin-top:10vh;
  padding-top:2vh;
}
div#borderarea {
    display:block;
    padding-top:5vh;
    position:relative;

    

}
img#searchareaborder {

  min-width:85vh;
  min-height:50vh;
  position:absolute;


}
div#faq-content  {
  margin-top:35vh;
  margin-right:5vh;
}
img#faq-content{
  min-width:80vh;
  min-height:40vh;
}
img#example-searchpng{
    min-width:45vh;
    min-height:25vh;
    position:relative;
  margin-left:19vh;
  margin-top:12vh;

  
  
 
}
img#search-btn{
position:relative;
margin-left:20vh;
min-height:auto;
min-width:40vh;



}

img#search-descriptionpng{
    min-width:80vh;
    min-height:15vh;
    
  margin-left:20vh;

  padding-top:2vh;
}
div.divider {
    border: 1px solid hsla(295, 100%, 59%, 1);
    background: hsla(295, 100%, 59%, 1);
    background: linear-gradient(
      90deg,
      hsla(295, 100%, 59%, 1) 0%,
      hsla(256, 100%, 8%, 1) 1%,
      hsla(256, 100%, 8%, 1) 99%,
      hsla(295, 100%, 59%, 1) 100%
    );
    background: -moz-linear-gradient(
      90deg,
      hsla(295, 100%, 59%, 1) 0%,
      hsla(256, 100%, 8%, 1) 1%,
      hsla(256, 100%, 8%, 1) 99%,
      hsla(295, 100%, 59%, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      hsla(295, 100%, 59%, 1) 0%,
      hsla(256, 100%, 8%, 1) 1%,
      hsla(256, 100%, 8%, 1) 99%,
      hsla(295, 100%, 59%, 1) 100%
    );
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#EE2DFF", endColorstr="#0B0029", GradientType=1);
   
  }
 img#cc-mint-pic {


min-height:25rem;
min-width:20rem;
margin-bottom:2.5vh;
margin-top:1vh;

  }




    
  
