header {
  position:sticky;
  z-index:99;

}
ul.nav-links {

  display:flex;
  justify-content:left;
  
}
.corner {
float:right;
display:flex;
max-width:5rem;
max-height:5rem;
margin-right:2rem;


 
}
.chat {
display:inline;
float:left;
margin-left:8%;
margin-top:10%;
padding-top:5rem;
  
  
   
  }
.s1-newccpage {
    


display:block;
    background-image: url("../assets/new-cc-page/header-pic-final.png");
 background-size:cover;
 background-position:center;
  height:80vh;
    background-repeat: no-repeat;
    padding-bottom:8%;

  
    
}
p.searchdesc {
  position:absolute;
  color:yellow;
  font-size:150%;
margin-left:66vh;
z-index:1;

}

img#ingamecc, img#cc-normal {
position:relative;
z-index:0;
}
img#ingamecc {
  min-width:225px;
  min-height:225px;
 
}
img#cc-normal {
  min-width:225px;
  min-height:225px;
margin-right:15vh;

margin-left:1vh;
}

div.logo-cc {
display:flex;
}
a.newccpage{
    border:none !important;
    list-style-type:none;
}

p.newccmaintext {
   
    font-size:200%;
    color:yellow;
}


div.mainarea {
  
padding-top:5rem;
}
.s2-newccpage {    
display:block;
   

    background-image: url("../assets/new-cc-page/fullbar.png");
background-position:center;
    background-size:cover;
    width:auto;
     height:80vh;
    background-repeat: no-repeat;

    
}
.s4-newccpage {    
    display:block;
       
    
        background-image: url("../assets/new-cc-page/bar-left.png");
        background-size:cover;
        width:auto;
         height:80vh;
       background-position:center;
        background-repeat: no-repeat;
     
    }

img#logo-big {
    max-width:100% !important;
}
image.buttons-newccpage {
    display:block;
    size-adjust:150%;

}
.s5-newccpage {
  display:block;
   

  background-image: url("../assets/new-cc-page/bar-right.png");
  background-position: center;
  background-size:cover;
  width:auto;
  height:80vh;
  background-repeat: no-repeat;

  
}
.s6-newccpage {
  display:block;
   

  background-image: url("../assets/new-cc-page/speaker-brick.png");
  background-size:cover;
  width:auto;

   height:80vh;
  background-repeat: no-repeat;

  
}
img#s5-speakers {
  min-width:45rem;
 position:relative;
margin-top:5rem;
  min-height:55vh;
}
.disabled {
  pointer-events:none;
  opacity:0.5;

}
a {
  border:none;
}
.s3-newccpage {
  display:block;
   

  background-image: url("../assets/new-cc-page/searcharea.png");
  background-position:center;
  background-size:cover;
  width:auto;
   height:80vh;
  background-repeat: no-repeat;

 

  


}
img#faq-title {
  position:absolute;
  z-index:0;
  margin-left:15rem;
}


div.namecont {
  position:relative;

  
}
p.character-name {
  position:relative;
  padding-left:8vh;
  color:red
}
img#faq-title{
    min-width:80vh;
    min-height:15vh;


}
div#borderarea {
    display:block;
margin-bottom:5rem;
  


    

}
img#searchareaborder {

padding-left:3rem;
  min-width:55rem;
  min-height:30rem;
  position:absolute;





}
div#searchcomp {
  display:inline-block;
  margin-left:9rem;
  margin-top:5rem;

}
div#faq-content  {


  display:inline-flex;
  margin-top:5rem;

}
img#faq-content{
  min-width:80vh;
  min-height:40vh;
  margin-top:15vh;
}


img#search-btn{
position:relative;
padding-top:2rem;
min-height:auto;
min-width:40vh;
margin-left:7rem;
padding-bottom:1rem;



}

img#search-descriptionpng{
    min-width:100vh;
    min-height:20vh;

margin-top:3rem; 

margin-inline:auto;




padding-bottom:6rem;

}
div#searchdesccont {
  margin-left:8%;

}
#logo {

    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 25px;
  


}
span.close {
  display:flex;
  float:left;
}
div.container {
  display:block;
}
#logo1 {

  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 25px;
  border-color: red;;
  margin-left:20rem;
  pointer-events:none;



}
#logo1:hover {
  display:none;
} 
img#divider{

display:flex;
position:relative;
min-width:220%;
top:-55px;
margin-bottom:-100px;


}
img#divider-s1{

  display:block;
  position:relative;
  min-width:220%;
  top:-48px;
  margin-bottom:-100px;
  
  }
img#divider-s6{

  display:block;
  position:relative;
  min-width:200%;
  top:-65px;;
  margin-bottom:-100px;
  
  }
  img#divider-s4{
    margin-bottom:-100px;
    display:block;
    position:relative;
    min-width:200%;
    top:-58px
    
    
    }
    img#divider-music{
      margin-bottom:-100px;
      display:block;
      position:relative;
      min-width:200%;
      top:-65px;
      
      
      }
 img#cc-mint-pic {
display:block;

min-height:25rem;
min-width:20rem;
margin-inline:auto;
padding-top:5rem;




  }

  a#mint {

margin-inline:auto;
   
  display:flex;


  }
  .footer-logo {
    width: 10%;
    margin-top: 1em;
    padding-bottom: 1em;
}

.footer-logo-container {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--pink);
    max-width: 90%;
    margin: 0 auto;
}


   a#openplayer {
    color:var(--purple);
    border: 0.5px solid var(--pink);
    cursor:pointer;
    margin-right:5rem;
    display:flex;
  } 
  
.player {
  height: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 position:fixed;

opacity:0.8;
display:none;
}
 
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}
 
.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-image: URL(
    "https://bafybeianlwnaxlawfnav4y3u7pvpyrwy2nx6hx2plf3t364o5vireihg3a.ipfs.dweb.link/music-pic.png");
  background-size: cover;
  background-position: center;
  border-radius: 15%;
visibility:hidden;
}
 
/* Changing the font sizes to suitable ones */
.now-playing {
  font-size: 1rem;
}
 
.track-name {
  font-size: 3rem;
}
 
.track-artist {
  font-size: 1.5rem;
}
 
/* Using flex with the row direction to
   align items in a horizontal direction */
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
 
  /* Smoothly transition the opacity */
  transition: opacity .2s;
}
 
/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}
 
/* Define the slider width so that it scales properly */
.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
 
/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
 
/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}
 
.seek_slider {
  width: 60%;
}
 
.volume_slider {
  width: 30%;
}
 
.current-time,
.total-duration {
  padding: 10px;
}
 
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}
 
/* Change the mouse cursor to a pointer
   when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}