html,
body {
  margin: 0;
  padding: 0;
  background-image: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#nft-container > .auction-card {
  flex-basis: 50%;
}

#nft-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  max-width: 70%;
  height: auto;
  margin: 0 auto;
}

.auction-card-modal {
  width: 60%;
  height: auto;
  margin: 20vh auto;
  color: #a02161;
  text-align: center;
  border: 3px solid #8c1d8c;
  border-radius: 6px;
  background-color: #231742;
}
.auction-card-modal img {
  border: 3px solid #8c1d8c;
  border-radius: 6px;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.auction-card {
  height: auto;
  max-width: 40%;
  background-color: #231742;
  color: #a02161;
  text-align: center;
  border: 3px solid #8c1d8c;
  border-radius: 6px;
  box-shadow: 10px 10px 5px black;
  transition: 1s ease-out;
  cursor: pointer;
}
.auction-card img {
  margin: 0 auto;
  width: 80%;
  height: auto;
  border-radius: 8px;
  border: 2px solid #f71184;
  transition: 1s ease-out;
}
.auction-card h2 {
  color: #f71184;
  text-shadow: 1px 1px #258ae8;
}

.auction-card:hover {
  border-color: #f711f7;
  color: #f71184;
  box-shadow: 0 4px 8px 0 #f71184, 0 6px 20px 0 #f711f7;
}
.auction-card:hover img {
  border: 2px solid #258ae8;
}

.Loading-text {
  width: 100%;
  height: auto;
  margin: auto auto;
  font-size: 4em;
  text-align: center;
}

.search-card {
  margin-top: 1em;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: none;
  margin: 1em auto;
}
.search-card img {
  max-width: 20%;
  border: 2px #f71184 solid;
  border-radius: 5%;
  margin: 0 auto;
}
.search-card h2 {
  margin-top: 0;
  font-size: clamp(2rem, 2rem + 3vw, 5rem);
  margin-bottom: 0;
  color: #f71184;
  text-shadow: 4px 4px #258ae8;
}

.search-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.search-container .button {
  margin: 0 auto;
}
.search-container input {
  max-width: 70%;
  margin: 0 auto;
  border-radius: 20px;
}

.search-container:hover .button {
  box-shadow: 0 4px 8px 0 #f71184, 0 6px 20px 0 #f711f7;
}

.explore-content {
  margin-bottom: 4em;
}

.attribute-container > * {
  flex-basis: 50%;
}

.attribute-container {
  display: flex;
  gap: 2%;
  width: 90% !important;
  margin: 1em auto;
}

.attribute {
  background-color: #231742;
  box-shadow: 10px 10px 5px black;
  color: white;
  text-shadow: 4px 4px #258ae8;
  border: 2px #f71184 solid;
  border-radius: 12px;
  font-size: clamp(1rem, 1.5rem + 1vw, 2rem);
}

input[type=text],
textarea {
  background-color: #231742;
  color: #f71184;
  transition: ease-in 0.5s;
}

input[type=text]:focus,
textarea:focus,
input[type=text]:hover,
textarea:hover {
  border: 2px #f711f7 solid;
  box-shadow: 0 4px 8px 0 #f71184, 0 6px 20px 0 #f711f7;
}

@media all and (max-width: 40em) {
  .attribute {
    min-width: 90%;
    padding: 4px;
  }

  .auction-card {
    min-width: 80% !important;
  }

  .search-card img {
    max-width: 50%;
  }

  .auction-card-modal {
    width: 80%;
  }
  .auction-card-modal img {
    width: 100%;
  }

  .search-container button {
    width: 50%;
    padding: 2%;
  }
  .search-container input {
    width: 100%;
  }

  .attribute-container {
    flex-direction: column;
  }

  .attribute {
    margin-top: 5%;
  }

  #load-more {
    width: 100% !important;
  }
}

/*# sourceMappingURL=explore.css.map */
