$background-colour: #231742;
$main-colour: #f71184;
$main-hover: #a02161;
$secondary-colour: #f711f7;
$secondary-hover: #8c1d8c;
$highlight-colour: #258ae8;


html, body {
    margin: 0;
    padding: 0;
}

#nft-container > * {
    flex-basis: 50%;
}

// Explore page css
#nft-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 70%;;
    height: auto;
    margin: 0 auto;
}

.auction-card-modal {
    width: 60%;
    height: auto;
    margin: 20vh auto;
    color: $main-hover;
    text-align: center;
    border: 3px solid $secondary-hover;
    border-radius: 6px;
    background-color: $background-colour;

    img {
        border: 3px solid $secondary-hover;
        border-radius: 6px;
        margin: 0 auto;
        width: 50%;
        height: auto;
    }
}

.auction-card {
    height: auto;
    max-width: 40%;
    // margin: 0 auto;
    color: $main-hover;
    text-align: center;
    border: 3px solid $secondary-hover;
    border-radius: 6px;
    box-shadow: 10px 10px 5px black;
    transition: 1s ease-out;
    cursor: pointer;

    img {
        margin: 0 auto;
        width: 80%;
        height: auto;
        border-radius: 8px;
        border: 2px solid $main-colour;
        transition: 1s ease-out;
    }

    h2 {
        color: $main-colour;
        text-shadow: 1px 1px $highlight-colour;
    }
}

.auction-card:hover {
    border-color: $secondary-colour;
    color: $main-colour;
    box-shadow: 0 4px 8px 0 $main-colour, 0 6px 20px 0 $secondary-colour;

    img {
        border: 2px solid $highlight-colour;
    }
}

.Loading-text {
    width: 100%;
    height: auto;
    margin: auto auto;
    font-size: 4em;
    text-align: center;
}

.search-card {
    margin-top: 1em;
    width: 80% !important;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: none;
    margin: 1em auto;

    img {
        max-width: 30%;
        border: 2px $main-colour solid;
        border-radius: 5%;
        margin: 0 auto;
    }

    h2 {
        font-size: clamp(2rem, 2rem + 3vw, 5rem);
        margin-bottom: 0;
        color: $main-colour;
        text-shadow: 4px 4px $highlight-colour;
    }
}

.search-container {
    display: flex;
    flex-direction: column;
    max-width: 70%;

    margin: 0 auto;

    .button {
        width: 100%;
    }
}

.search-container:hover {
    .button {
        color: white;
    }
}

.explore-content {
    margin-bottom: 4em;
}

.attribute-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;

    width: 80%;
    margin: 1em auto;
}

.attribute {
    background: $main-colour;
    min-width: 50%;
    color: white;
    border: 2px $main-colour solid;
    border-radius: 12px;
    font-size: clamp(1rem, 1.5rem + 1vw, 2rem);
    text-shadow: 4px 4px $highlight-colour;
}


@media all and (max-width : 40em) {
    .attribute {
        min-width: 90%;
        padding: 4px;
    }

    .auction-card {
        min-width: 80% !important;
    }

    .search-card {
        img {
            max-width: 50%;
        }
    }

    .auction-card-modal {
        width: 80%;

        img {
            width: 80%;
        }
    }
}