$background-colour: #231742;
$main-colour: #f71184;
$main-hover: #a02161;
$secondary-colour: #f711f7;
$secondary-hover: #8c1d8c;
$highlight-colour: #258ae8;

// Explore page css
#nft-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90vw;
    height: auto;
    margin: 0 auto;
}

.auction-card-modal {
    width: 60%;
    height: auto;
    margin: 20vh auto;
    color: $main-hover;
    text-align: center;
    border: 3px solid $secondary-hover;
    border-radius: 6px;
    background-color: $background-colour;

    img {
        border: 3px solid $secondary-hover;
        border-radius: 6px;
        margin: 0 auto;
        width: 50%;
        height: auto;
    }
}

.auction-card {
    height: auto;
    width: 100%;
    margin: 0 auto;
    color: $main-hover;
    text-align: center;
    border: 3px solid $secondary-hover;
    border-radius: 6px;

    img {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
}

.auction-card:hover {
    border-color: $secondary-colour;
    color: $main-colour;
}

.Loading-text {
    width: 100%;
    height: auto;
    margin: auto auto;
    font-size: 4em;
    text-align: center;
}
