$main-colour: #f71184;
$secondary-colour: #f711f7;
$background-colour: #231742;

footer {
    display: flex;
    flex-direction: column;
    gap: 2px;

    box-sizing: border-box;

    box-shadow: 0px -4px 5px $main-colour, 0px -6px 20px $secondary-colour;
    background-color: $background-colour;

    min-width: 100vw !important;
    margin: 0 auto;

    text-align: center;

    border-top: 2px solid $main-colour;

    overflow-x: 0;

    .footer-links {
        display: flex;
        gap: 2em;
        width: 20%;
        margin: 1em auto;
    }

    .footer-image {
        width: 40%;
        height: auto;
        filter: invert(100%) sepia(15%) saturate(2%) hue-rotate(291deg) brightness(113%) contrast(100%);
        padding: 0 1em;
    }

    .footer-text {
        margin: 1em auto;
    }
}


@media all and (max-width : 40em) {
    .footer-links {
        min-width: 80%;
        display: flex;
        justify-content: space-evenly;
    }

    .footer-image {
        min-width: 80% !important;
        padding: 0;
    }
}