.navMenu {
  display: grid;
  grid-template-columns: 50% 50%;
  position: absolute;
  right: 0;
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  backdrop-filter: blur(10px);
  background-color: #231742;
  box-shadow: 0 4px 8px 0 #f71184, 0 6px 20px 0 #f711f7;
  top: 0;
  left: 0;
  z-index: 2;
  min-width: 100vw !important;
  padding: 0;
  margin: 0 auto;
  color: white;
  border-bottom: 2px solid #f71184;
}

.link-button {
  font-size: 2rem;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  padding: 6px 26px;
}

.link-button-header {
  font-size: 2rem;
  border-radius: 26px;
  text-decoration: none;
  color: white;
  padding: 6px 26px;
  width: 12vw !important;
  height: 6vh !important;
  box-shadow: 2px 2px 1px black;
}

.link-button-header:hover {
  box-shadow: 0 4px 8px 0 #f71184, 0 6px 20px 0 #f711f7;
}

.logo {
  display: block;
  margin: 2% 0;
  width: 15%;
  height: 15%;
  border-radius: 25px;
  transition: ease-out 1s;
}

.logo:hover {
  background-color: #258ae8;
  border: 2px #258ae8 solid;
}

.left {
  pointer-events: auto;
  width: 50%;
  margin: 0 0 0 2em;
}

.right {
  display: inline-block;
  margin: 1em 2em 1em 0;
  align-items: right;
  justify-content: right;
}

.hamburger {
  display: none;
}

.nav-links {
  right: 2vw;
}

ul {
  display: flex;
  align-items: stretch;
  /* Default */
  justify-content: flex-end;
  gap: 1%;
  list-style: none;
  padding: 0;
  margin: 1vh auto;
}
ul li {
  display: block;
  flex: 0 1 auto;
  /* Default */
  list-style-type: none;
}

@media all and (max-width: 80em) {
  nav {
    position: relative;
  }

  .hamburger {
    display: inline;
    z-index: 2;
    position: absolute;
    right: 1%;
    top: 5%;
    transition: ease-out 1s;
  }

  .hamburger:hover .line {
    background-color: #258ae8;
  }

  .line {
    width: 30px;
    height: 3px;
    margin: 4px;
    background-color: #f71184;
  }

  .navMenu {
    height: 6vh;
  }

  .nav-links {
    margin: 0;
    padding-bottom: 1em;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #231742;
    border-bottom: 1px #f71184 solid;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    pointer-events: auto !important;
    /* Making mask to show/hide the navigation on mobile */
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
    transition: all 1s ease-out;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }

  .nav-links.open {
    clip-path: circle(1100px at 90% -10%);
    -webkit-clip-path: circle(1100px at 90% -10%);
    pointer-events: all;
    opacity: 1;
    color: white;
    padding-top: 6vh;
  }
  .nav-links.open li {
    opacity: 1;
    text-align: right;
  }

  .logo {
    display: none;
  }

  .link-button-header {
    border-radius: 6px;
    text-decoration: none;
    color: #f71184;
    padding: 6px 26px;
    background: transparent;
    box-shadow: none;
  }
}
@media all and (max-width: 40em) {
  .hamburger {
    transform: translate(-5%, -50%);
    right: 0;
  }

  .nav {
    height: 8vh;
  }

  .right {
    margin-right: 0;
  }
}

/*# sourceMappingURL=header.css.map */
