$background-colour: #231742;
$main-colour: #f71184;
$main-hover: #a02161;
$secondary-colour: #f711f7;
$secondary-hover: #8c1d8c;
$highlight-colour: #258ae8;

$nav-height: 12vh;
$mobile-nav-height: 8vh;
$nav-width: 100%;
$mobile-nav-width: 100vw;
$header-background-colour: #322554;

// Header scss
.navMenu {
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    right: 0;
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    backdrop-filter: blur(10px);
    background-color: $background-colour; // Can change back to bg colour later, once logo background is changed
    box-shadow: 0 4px 8px 0 $main-colour, 0 6px 20px 0 $secondary-colour;
    top: 0;
    left: 0;
    z-index: 2;
    min-width: 100vw !important;
    padding: 0;
    margin: 0 auto;
    color: white;
    border-bottom: 2px solid $main-colour;
}

.link-button {
    font-size: 2rem;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    padding: 6px 26px;
}

.link-button-header {
    font-size: 2rem;
    border-radius: 26px;
    text-decoration: none;
    color: black;
    padding: 6px 26px;
    width: 12vw !important;
    height: 6vh !important;
    box-shadow: 2px 2px 1px black;
}

.link-button-header:hover {
    box-shadow: 0 4px 8px 0 $main-colour, 0 6px 20px 0 $secondary-colour;
}

.logo {
    display: block;
    margin: 2% 0;
    width: 15%;
    height: 15%;
    // background-color: $main-colour;
    border-radius: 25px;
    transition: ease-out 1s;
}

.logo:hover {
    background-color: $highlight-colour;
    border: 2px $highlight-colour solid;
}

.left {
    pointer-events: auto;
    width: 50%;

    margin: 0 0 0 2em;
}

.right {
    // background-color: green;
    display: inline-block;
    margin: 1em 2em 1em 0;
    align-items: right;
    justify-content: right;
}

.hamburger {
    display: none;
}

.nav-links {
    right: 2vw;
}

ul {
    display: flex;
    align-items: stretch;
    /* Default */
    justify-content: flex-end;
    gap: 1%;
    list-style: none;
    padding: 0;
    margin: 1vh auto;

    li {
        display: block;
        flex: 0 1 auto;
        /* Default */
        list-style-type: none;
    }
}

@media all and (max-width : 40em) {
       // Header scss
       nav {
        position: relative;
    }

    .hamburger {
        display: inline;
        z-index: 2;
        position: absolute;
        right: 1%;
        top: $mobile-nav-height;
        top: 10%;
        bottom: 10%;
        transform: translate(-5%, -50%);
        transition: ease-out 1s;
        background-color: red;
    }

    .hamburger:hover {
        .line {
            background-color: $highlight-colour;
        }
    }


    .line {
        width: 30px;
        height: 3px;
        margin: 4px;
        background-color: $main-colour;
    }

    .navMenu {
        height: $mobile-nav-height;
    }

    .nav-links {
        margin: 0;
        padding-bottom: 1em;
        position: fixed;
        left: 0;
        top: 0;

        background-color: $background-colour;
        border-bottom: 1px $main-colour solid;

        width: 100%;

        flex-direction: column;
        justify-content: start;

        pointer-events: auto !important;

        /* Making mask to show/hide the navigation on mobile */
        clip-path: circle(10px at 90% -10%);
        -webkit-clip-path: circle(10px at 90% -10%);
        transition: all 1s ease-out;

    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 25px;
    }

    .nav-links.open {
        clip-path: circle(1100px at 90% -10%);
        -webkit-clip-path: circle(1100px at 90% -10%);
        pointer-events: all;
        opacity: 1;
        color: white;
        padding-top: $mobile-nav-height;

        li {
            opacity: 1;
            // margin: 0 auto;
            text-align: right;
        }
    }

    .logo {
        display: none;
    }

    .link-button-header {
        border-radius: 6px;
        text-decoration: none;
        color: $main-colour;
        padding: 6px 26px;
        background: transparent;
        box-shadow:none;
    }
}