@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$background-colour: #231742;
$main-colour: #f71184;
$main-hover: #a02161;
$secondary-colour: #f711f7;
$secondary-hover: #8c1d8c;
$highlight-colour: #258ae8;
$header-background-colour: #322554;

$main-colour-gradient: linear-gradient(to bottom, #f71184 0%, #f711f7 100%);

html {
    scroll-behavior: smooth;
    background-color: $background-colour;
    // background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}

body {
    // background-color: $background-colour;
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    overflow-x: hidden;
    overflow-y: auto;
}

.up-button {
    z-index: 15;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 5%;
    height: 5%;
    border: 4px $secondary-colour solid;
    border-radius: 4px;
    background-color: $main-colour;
    transition: ease-out 1s;

    .up-img {
        width: 60%;
        height: auto;
    }
}

.up-button:hover {
    background-color: $highlight-colour;
    border: 2px $header-background-colour solid;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    margin-top: 12vh;
}

.section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 10vh auto;
}

.s1 {
    height: 100vh;
    margin-top: 0;
    margin-bottom: none;
}

.s2 {
    margin-top: none;
    background-size: scale;
}

.s5 {
    align-content: center;
    text-align: center;
}

.s6 {
    align-content: center;
    text-align: center;
}

.columns {
    @media only screen and (min-width : 768px) {
        margin-top: 1rem;
        margin-left: 4rem;
        margin-right: 4rem;
        width: 90%;
        display: grid;
        grid-template-columns: 70% 30%;
        gap: 3em;
    }

    display: flex;
    gap: 2%;
}

.column {
    margin: 0 auto;
}

.img-column>* {
    flex-basis: 100%;
}

.img-column {
    display: flex;
    margin: 4rem auto;
}

.main-header {
    color: $main-colour;
    font-size: 10rem;
    margin: 0 auto;
    border-bottom: 6px solid $highlight-colour;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.sub-header {
    font-size: 4rem;
    margin-bottom: 0;
}

.tag-line-header {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    width: 70%;
}

.tag-line {
    font-size: 2rem;
}

.placeholder-header {
    font-size: 4rem;
    text-align: center;
}

.placeholder-content {
    font-size: 2rem;
    color: $main-colour;
    border-bottom: $secondary-colour 4px solid;
    margin: auto;
}

.minter-tag {
    margin: 0 auto;
    /*  */
    font-size: 3rem;
}

.address-container {
    display: flex;
    gap: 12px;
    max-width: 80%;
}

.address-span {
    color: white;
    padding-right: 1%;
    word-break: none;
}

.address {
    color: $secondary-colour;
    font-size: 2rem;
    transition: ease-out 1s;
    inline-size: min-content;
}

.address:hover {
    color: #454ef7;
}

.button-group>* {
    flex-basis: 100%;
}

.button-group {
    display: flex;
    width: 100%;
    column-gap: 2%;
}

.button {
    height: 4vh;
    width: 12vw;
    padding: 0;
    border: none;
    background: none;
    border-radius: 8px;
    font-weight: bolder;
}

.button img {
    width: 75%;
    height: 75%;
}

.even-button {
    background-color: $main-colour;
    transition: ease-out 1s;

    a {
        transition: ease-out 1s;
    }
}

.even-button:hover {
    background-color: $highlight-colour;

    a {
        color: white;
    }
}

.odd-button {
    background-color: $secondary-colour;
    transition: ease-out 1s;
}

.odd-button:hover {
    background-color: $highlight-colour;
    color: white;
}

.faq-header {
    font-size: 4rem;
    margin: 0 auto;
    color: $main-colour;
}

.faq-answer {
    font-size: 2rem;
    text-align: center;
    width: 80%;
    margin: 2vh auto;
}

.section-header {
    font-size: 4rem;
    margin: 0 auto;
    color: $main-colour;
    border-bottom: $highlight-colour 2px solid;

}

.explore-section-header {
    padding-top: 0.5em;
    width: 70%;
    border: none;
    text-align: left;
    border-bottom: $highlight-colour 2px solid;
    margin-bottom: 1em;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.token-search {
    min-width: 50%;
    height: 4vh;
    border: 2px $main-colour solid;
    background-color: $header-background-colour;
    color: white;
    border-radius: 6px;
}

.token-search:hover, .token-search:active {
    border-color: $highlight-colour;
}

.section-header-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 8vh;
    text-align: left;
}

#ergopixel-img {
    display: inline-block;
    width: 80%;
    height: auto;
    border: 6px solid $main-colour;
    margin: 0 auto;
}

.slideshow-container {
    // width: 50%;
    // height: auto;
    margin: 40% auto;
}


.explore-content {
    margin-top: 20vh;
    text-align: center;
    margin: 0 auto;
    height: auto;
    width: auto;

    .section-header {
        margin-top: 10vh;
    }
}

#nft-container>* {
    flex: 0 0 30%;
}

// Animation for main page
.area {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background-image: url("../assets/cybercitizens/0.png");
    background-size: contain;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    background-image: url("../assets/cybercitizens/3.png");
    background-size: contain;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    background-image: url("../assets/cybercitizens/346.png");
    background-size: contain;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    background-image: url("../assets/cybercitizens/374.png");
    background-size: contain;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    background-image: url("../assets/cybercitizens/590.png");
    background-size: contain;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    background-image: url("../assets/cybercitizens/1852.png");
    background-size: contain;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
    background-image: url("../assets/cybercitizens/1873.png");
    background-size: contain;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
    background-image: url("../assets/cybercitizens/1881.png");
    background-size: contain;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    background-image: url("../assets/cybercitizens/1911.png");
    background-size: contain;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    background-image: url("../assets/cybercitizens/1962.png");
    background-size: contain;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


// Our team css
.team-container>* {
    flex-basis: 100%;
}

.team-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.team-member-image {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.team-member-image:hover {
    animation: pulse;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
}

.team-member-name {
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    color: $main-colour;
}

.team-member-description {
    font-variant-caps: all-petite-caps;
    font-size: 2.5rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.team-column {
    text-align: center;
}

// Modal CSS
/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    // top: 0;
    width: 100vw;
    /* Full width */
    height: auto;
    /* Full height */
    margin: auto auto;
    overflow: auto;
    /* Enable scroll if needed */
    // background-color: rgb(0,0,0); /* Fallback color */
    // background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    background-color: none;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */

    .auction-card {
        width: 50%;
        height: auto;
    }
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

// Roadmap 
.roadmap {
    width: min(600px, 80%);
    text-align: left;
    margin: 0 auto;
    font-size: clamp(2rem, 3vw, 5rem);
}

.roadmap-number {
    font-size: clamp(2rem, 5vw, 6rem);
    background-color: green;
    border-radius: 50%;
    max-width: 10vw;
    max-height: 10vh;
    text-align: center;
    display: none;
}

.roadmap-title {
    padding-top: 1em;
    color: $main-colour;
}

.roadmap-content {
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.roadmap-title, .roadmap-content {
    padding-left: 2em;
    border-left: 8px yellow solid;
}

.roadmap-passed {
    border-color: green;
}

@media all and (max-width : 40em) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        background-color: #231742;
        background-image: none;
        overflow-x: hidden;
    }

    .container {
        box-sizing: border-box;
        width: 100vw;
    }

    .section {
        height: auto;
        width: 100vw;
        margin: 10vh auto;
        text-align: center;
        padding-bottom: 30vh;
    }

    .s1 {
        height: 100vh;
    }

    .columns {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .main-header {
        border: none;
        display: inline-block;
        margin: 0 auto;
        font-size: 4rem;
    }

    .sub-header {
        font-size: 2.5rem;
        width: 100vw;
        margin-bottom: 5%;
        // display: none;
        margin: 0 auto;
        color: $secondary-colour;
    }

    .tag-line-header {
        font-size: 1.5rem;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    .tag-line {
        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        overflow-wrap: break-word;
        margin-bottom: 5%;
        display: none;
    }

    .address-container {
        margin: 0 auto;
    }

    .address {
        display: inline-block;
        font-size: 1rem;
        margin: 5% auto;
        color: white;
    }

    .address-span{
        display: none;
    }
        

    .button-group>* {
        flex-basis: 100%;
    }

    .button-group {
        display: flex;
        flex-direction: row;
        width: 90%;
        column-gap: 2%;
        margin: 0 auto;
        margin-top: 5%;
    }

    .button {
        height: 6vh;
        width: auto;
        padding: 0;
        border: none;
        background: none;
        border-radius: 8px;
        font-weight: bolder;
        font-size: 1rem;
    }

    .even-button {
        background-color: $main-colour;
    }

    .odd-button {
        background-color: $secondary-colour;
    }

    .faq-header {
        margin-top: 10%;
        width: 80%;
        font-size: 3rem;
    }

    .faq-answer {
        width: 80%;
        font-size: 2rem;
        margin-bottom: 10%;
    }

    .up-button {
        z-index: 15;
        position: fixed;
        bottom: 5%;
        right: 5%;
        width: 10%;
        height: 5%;
        border: 2px $secondary-colour solid;
        border-radius: 4px;
        background-color: $main-colour;
        transition: ease-out 1s;

        .up-img {
            width: 60%;
            height: auto;
            font-weight: bolder;
        }
    }

    .column {
        width: 100vw;
    }

    #ergopixel-img {
        display: inline-block;
        width: 60%;
        height: auto;
        margin: 0 auto;
    }

    .slideshow-container {
        width: 100%;
        margin-top: 5%;
    }

 
    .odd-button {
        font-size: 1rem;
    }

    // Our team css
    .team-container>* {
        flex-basis: 100%;
    }

    .team-container {
        flex-direction: column;
    }

    .team-column {
        margin: 5% auto;
    }

    .team-member-name {
        margin-top: 5%;
    }

    .team-member-image {
        width: 40%;
        height: auto;
    }


    // Explorer css

    .nft-container>* {
        display: block;
    }

    .nft-container {
        display: block;
    }

    .auction-card-modal {

        img {
            margin: 0 auto;
            width: 90%;
            height: auto;
        }
    }

    .placeholder-header {
        font-size: 2rem;
        margin: 0 auto;
        width: 90%;
    }

    .placeholder-content {
        margin: 0 auto;
        width: 90%;
    }

    .section-header {
        text-align: center;
    }

}