@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
  scroll-behavior: smooth;
  background-color: #231742;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}

body {
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  overflow-x: hidden;
  overflow-y: auto;
}

.up-button {
  z-index: 15;
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 5%;
  height: 5%;
  border: 2px #f711f7 solid;
  border-radius: 4px;
  background-color: #f71184;
  transition: ease-out 1s;
}
.up-button .up-img {
  width: 60%;
  height: auto;
}

.up-button:hover {
  background-color: #f711f7;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin-top: 12vh;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 30vh auto;
}

.s1 {
  height: 100vh;
  margin-top: 0;
  margin-bottom: none;
}

.s2 {
  margin-top: none;
}

.s5 {
  align-content: center;
  text-align: center;
}

.s6 {
  align-content: center;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .columns {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    width: 90%;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 3em;
  }
}

.column {
  margin: 0 auto;
}

.img-column > * {
  flex-basis: 100%;
}

.img-column {
  display: flex;
  margin: 4rem auto;
}

.main-header {
  color: #f71184;
  font-size: 10rem;
  margin: 0 auto;
  border-bottom: 2px solid #f71184;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.sub-header {
  font-size: 4rem;
  margin-bottom: 0;
}

.tag-line-header {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  width: 70%;
}

.tag-line {
  font-size: 2rem;
}

.placeholder-header {
  font-size: 4rem;
}

.placeholder-content {
  font-size: 2rem;
  color: #f71184;
  border-bottom: #f711f7 4px solid;
  margin: auto;
}

.minter-tag {
  margin: 0 auto;
  font-size: 3rem;
}

.address-container {
  display: flex;
  gap: 12px;
}

.address {
  color: #f711f7;
  font-size: 2rem;
  transition: ease-out 1s;
}

.address:hover {
  color: #454ef7;
}

.button-group > * {
  flex-basis: 100%;
}

.button-group {
  display: flex;
  width: 40%;
  column-gap: 2%;
}

.button {
  height: 4vh;
  width: 10vw;
  padding: 0;
  border: none;
  background: none;
  border-radius: 8px;
  font-weight: bolder;
}

.button img {
  width: 75%;
  height: 75%;
}

.even-button {
  background-color: #f71184;
  transition: ease-out 1s;
}

.even-button:hover {
  background-color: #a02161;
}

.odd-button {
  background-color: #f711f7;
  transition: ease-out 1s;
}

.odd-button:hover {
  background-color: #8c1d8c;
}

@keyframes evenHover {
  from {
    background-color: #f71184;
  }
  to {
    background-color: #a02161;
  }
}
@keyframes oddHover {
  from {
    background-color: #f711f7;
  }
  to {
    background-color: #8c1d8c;
  }
}
.faq-header {
  font-size: 4rem;
  margin: 0 auto;
  color: #f71184;
}

.faq-answer {
  font-size: 2rem;
  text-align: center;
  width: 80%;
  margin: 2vh auto;
}

.section-header {
  font-size: 4rem;
  margin: 0 auto;
  color: #f71184;
}

.section-header-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 8vh;
  border-bottom: #f71184 2px solid;
  text-align: center;
}

#ergopixel-img {
  display: inline-block;
  width: 80%;
  height: auto;
  border: 6px solid #f71184;
  margin: 0 auto;
}

.slideshow-container {
  margin: 40% auto;
}

.explore-content {
  margin-top: 20vh;
  text-align: center;
  margin: 0 auto;
  height: auto;
  width: auto;
}
.explore-content .section-header {
  margin-top: 10vh;
}

#nft-container > * {
  flex: 0 0 30%;
}

.area {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
#nft-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90vw;
  height: auto;
  margin: 0 auto;
}

.auction-card-modal {
  width: 60%;
  height: auto;
  margin: 20vh auto;
  color: #a02161;
  text-align: center;
  border: 3px solid #8c1d8c;
  border-radius: 6px;
  background-color: #231742;
}
.auction-card-modal img {
  border: 3px solid #8c1d8c;
  border-radius: 6px;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.auction-card {
  height: auto;
  width: 100%;
  margin: 0 auto;
  color: #a02161;
  text-align: center;
  border: 3px solid #8c1d8c;
  border-radius: 6px;
}
.auction-card img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.auction-card:hover {
  border-color: #f711f7;
  color: #f71184;
}

.Loading-text {
  width: 100%;
  height: auto;
  margin: auto auto;
  font-size: 4em;
  text-align: center;
}

.navMenu {
  display: grid;
  grid-template-columns: 50% 50%;
  position: absolute;
  right: 0;
  height: auto;
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  backdrop-filter: blur(10px);
  background-color: #231742;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  color: white;
  border-bottom: 2px solid #f71184;
}

.link-button {
  font-size: 2rem;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  padding: 6px 26px;
}

.link-button-header {
  font-size: 2rem;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  padding: 6px 26px;
}

.logo {
  width: 8%;
  height: 8%;
}

.left {
  pointer-events: none;
  margin-left: 1em;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.right {
  margin-left: auto;
  margin-right: 2em;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-links {
  position: fixed;
  top: 1vh;
  right: 2vw;
}

ul {
  display: flex;
  align-items: stretch;
  /* Default */
  justify-content: space-evenly;
  gap: 1vw;
  list-style: none;
  padding: 0;
  margin: 1vh auto;
}
ul li {
  display: block;
  flex: 0 1 auto;
  /* Default */
  list-style-type: none;
}

.team-container > * {
  flex-basis: 100%;
}

.team-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 90vw;
}

.team-member-image {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.team-member-image:hover {
  animation: pulse;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
  /* don't forget to set a duration! */
}

.team-member-name {
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
  color: #f71184;
}

.team-member-description {
  font-variant-caps: all-petite-caps;
  font-size: 2.5rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.team-column {
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  width: 100vw;
  /* Full width */
  height: auto;
  /* Full height */
  margin: auto auto;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: none;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
}
.modal-content .auction-card {
  width: 50%;
  height: auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    background-color: #231742;
    background-image: none;
    overflow-x: hidden;
  }

  .container {
    box-sizing: border-box;
    width: 100vw;
  }

  .section {
    height: auto;
    width: 100vw;
    margin: 10vh auto;
    text-align: center;
    padding-bottom: 30vh;
  }

  .s1 {
    height: 100vh;
  }

  .columns {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .main-header {
    border: none;
    display: inline-block;
    margin: 0 auto;
    font-size: 4rem;
  }

  .sub-header {
    font-size: 2.5rem;
    width: 100vw;
    margin-bottom: 5%;
    margin: 0 auto;
    color: #f711f7;
  }

  .tag-line-header {
    font-size: 1.5rem;
    margin: 0 auto;
    margin-bottom: 5%;
  }

  .tag-line {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    overflow-wrap: break-word;
    margin-bottom: 5%;
    display: none;
  }

  .address {
    display: inline-block;
    font-size: 1.5rem;
    margin: 5% auto;
    display: none;
  }

  .button-group > * {
    flex-basis: 100%;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    width: 90%;
    column-gap: 2%;
    margin: 0 auto;
    margin-top: 5%;
  }

  .button {
    height: 6vh;
    width: auto;
    padding: 0;
    border: none;
    background: none;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 1rem;
  }

  .even-button {
    background-color: #f71184;
  }

  .odd-button {
    background-color: #f711f7;
  }

  .faq-header {
    margin-top: 10%;
    width: 80%;
    font-size: 3rem;
  }

  .faq-answer {
    width: 80%;
    font-size: 2rem;
    margin-bottom: 10%;
  }

  .up-button {
    z-index: 15;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 10%;
    height: 5%;
    border: 2px #f711f7 solid;
    border-radius: 4px;
    background-color: #f71184;
    transition: ease-out 1s;
  }
  .up-button .up-img {
    width: 60%;
    height: auto;
    font-weight: bolder;
  }

  .column {
    width: 100vw;
  }

  #ergopixel-img {
    display: inline-block;
    width: 60%;
    height: auto;
    margin: 0 auto;
  }

  .slideshow-container {
    width: 100%;
    margin-top: 5%;
  }

  nav {
    position: relative;
  }

  .hamburger {
    z-index: 2;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
  }

  .line {
    width: 30px;
    height: 3px;
    margin: 4px;
    background-color: #f71184;
  }

  .navMenu {
    height: 8vh;
  }

  /* Header responsive CSS */
  .nav-links {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #322554;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    pointer-events: auto !important;
    /* Making mask to show/hide the navigation on mobile */
    clip-path: circle(10px at 90% -10%);
    /* Better support for clippath with webkit */
    -webkit-clip-path: circle(10px at 90% -10%);
    transition: all 1s ease-out;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }

  .nav-links.open {
    clip-path: circle(1100px at 90% -10%);
    -webkit-clip-path: circle(1100px at 90% -10%);
    pointer-events: all;
    opacity: 1;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    pointer-events: none;
  }
  .nav-links.open li {
    opacity: 1;
    margin: 0 auto;
    text-align: center;
  }

  .logo {
    display: none;
  }

  .link-button-header {
    border-radius: 6px;
    text-decoration: none;
    color: #f71184;
    padding: 6px 26px;
    background: transparent;
  }

  .odd-button {
    font-size: 1rem;
  }

  .team-container > * {
    flex-basis: 100%;
  }

  .team-container {
    flex-direction: column;
  }

  .team-column {
    margin: 5% auto;
  }

  .team-member-name {
    margin-top: 5%;
  }

  .team-member-image {
    width: 40%;
    height: auto;
  }

  .nft-container > * {
    display: block;
  }

  .nft-container {
    display: block;
  }

  .auction-card-modal img {
    margin: 0 auto;
    width: 90%;
    height: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
