$background-colour: #231742;
$main-colour: #f71184;
$main-hover: #a02161;
$secondary-colour: #f711f7;
$secondary-hover: #8c1d8c;
$highlight-colour: #258ae8;
$header-background-colour: #322554;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: visible;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#wallet-connector {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 50%;
    min-height: 30%;

    padding: 1em;

    background-color: black;

    border-radius: 20px;

    display: none;

    p {
        padding-bottom: 2%;
        font-size: clamp(1.5rem, 2rem, 3.5rem);
    }

    input {
        width: 100%;
        margin: 0 auto;
        font-size: clamp(1rem, 1.5rem, 2rem);
    }
}

#wallet-connector.open {
    z-index: 100;
    background-color: $background-colour;

    border: 2px $main-colour solid;

    display: block;
}

#wallet-output {
    padding-top: 2%;
    color: red;
}

#wallet-buttons {
    display: flex;
    justify-content: end;
    gap: 1em;
    width: 100%;
    margin: 0 auto;
}

.wallet-button {
    all: unset;

    min-width: 10%;

    background-color: $main-colour;
    color: black;
    border: 2px $main-colour solid;

    text-align: center;
    font-size: clamp(1rem, 1.5rem, 2rem);

    border-radius: 20px;

    cursor: pointer;

    transition: ease-in 0.2s;
}

.wallet-button:hover {
    border: 2px $highlight-colour solid;
}

#exit {

}

#clear {

}

#finish {
    background-color: $highlight-colour;
    border: 2px $highlight-colour solid;
}

#finish:hover {
    border: 2px $main-colour solid;
}

input[type="text"], textarea {
    border: 2px $secondary-colour solid;
    background-color: $header-background-colour;
    border-radius: 20px;
    color: $main-colour;
}

input[type="text"]:focus, textarea:focus, input[type="text"]:hover, textarea:hover {
    // border: 2px $secondary-colour solid;
    border: 2px $main-colour solid;
}

@media all and (max-width : 40em) {
    #wallet-connector {
        width: 90% !important;
        max-height: 90%;

        p {
            font-size: clamp(1rem, 1.5rem, 2rem);
        }
    }

    .wallet-button {
        border-radius: 12px;
    }
 }